In [1]:
import pandas as pd
import re

In [2]:
fin = pd.read_excel('skandia_2020-01-01_2020-01-01.xlsx')

fin.head(10)

,Kontonummer,9159-858.177-7,Unnamed: 2,Unnamed: 3
0,Period,2020-01-01 - 2020-05-04,NaN,NaN
1,NaN,NaN,NaN,NaN
2,Bokf. datum,Beskrivning,Belopp,Saldo
3,2020-05-04,"2020-04-30 NETONNET AB, VÄXJÖ",-539,25556.7
4,2020-05-04,"2020-04-30 NETONNET AB, VÄXJÖ",-200,26095.7
5,2020-04-30,"2020-04-29 VAXJO OAS CAFE, VAXJO",-98,26295.7
6,2020-04-30,"2020-04-29 PRESSBYRÅN 4025376, VÄXJÖ",-70,26393.7
7,2020-04-30,2020-04-29 kontaktlös LIDL 131/VEXJO OSTERLEDE...,-41.7,26463.7
8,2020-04-30,"2020-04-29 BURGER KING AVD, VÄXJÖ",-87,26505.4
9,2020-04-30,Autogiro CA ARABYBOST,-9012,26592.4

In [28]:
type(fin)
fin.shape

pandas.core.frame.DataFrame

In [31]:
fin.iloc[2]

Kontonummer       Bokf. datum
9159-858.177-7    Beskrivning
Unnamed: 2             Belopp
Unnamed: 3              Saldo
Name: 2, dtype: object

In [3]:
fin.columns = fin.iloc[2]
fin

2    Bokf. datum                             Beskrivning   Belopp    Saldo
0         Period                 2020-01-01 - 2020-05-04      NaN      NaN
1            NaN                                     NaN      NaN      NaN
2    Bokf. datum                             Beskrivning   Belopp    Saldo
3     2020-05-04           2020-04-30 NETONNET AB, VÄXJÖ     -539  25556.7
4     2020-05-04           2020-04-30 NETONNET AB, VÄXJÖ     -200  26095.7
..           ...                                     ...      ...      ...
228   2020-01-02      2019-12-30 WILLYS VÄXJÖ I11, VÄXJÖ -1200.41  25103.3
229   2020-01-02   2019-12-30 SYSTEMBOLAGET VÄXJÖ, VÄXJÖ     -393  26303.7
230   2020-01-02      2019-12-30 WILLYS VÄXJÖ I11, VÄXJÖ    -23.8  26696.7
231   2020-01-02               2019-12-30 JULA AB, VÄXJÖ     -199  26720.5
232   2020-01-02  2019-12-30 BILTEMA SWEDEN VEXJO, VEXJO   -474.6  26919.5

[233 rows x 4 columns]

In [4]:
fin = fin.drop([0,1,2])
fin

2,Bokf. datum,Beskrivning,Belopp,Saldo
3,2020-05-04,"2020-04-30 NETONNET AB, VÄXJÖ",-539,25556.7
4,2020-05-04,"2020-04-30 NETONNET AB, VÄXJÖ",-200,26095.7
5,2020-04-30,"2020-04-29 VAXJO OAS CAFE, VAXJO",-98,26295.7
6,2020-04-30,"2020-04-29 PRESSBYRÅN 4025376, VÄXJÖ",-70,26393.7
7,2020-04-30,2020-04-29 kontaktlös LIDL 131/VEXJO OSTERLEDE...,-41.7,26463.7
...,...,...,...,...
228,2020-01-02,"2019-12-30 WILLYS VÄXJÖ I11, VÄXJÖ",-1200.41,25103.3
229,2020-01-02,"2019-12-30 SYSTEMBOLAGET VÄXJÖ, VÄXJÖ",-393,26303.7
230,2020-01-02,"2019-12-30 WILLYS VÄXJÖ I11, VÄXJÖ",-23.8,26696.7
231,2020-01-02,"2019-12-30 JULA AB, VÄXJÖ",-199,26720.5
232,2020-01-02,"2019-12-30 BILTEMA SWEDEN VEXJO, VEXJO",-474.6,26919.5

In [150]:

# ?pd.DataFrame.sum

# pd.DataFrame.describe(fin)

# fin.describe(include='all')

# fin['Belopp'].astype(int).describe()

# pd.Series.mean(fin['Belopp'],numeric_only = True)

# fin['Belopp'].astype(int)

count      230.000000
mean        -7.813043
std       5234.440901
min     -10697.000000
25%       -498.750000
50%       -205.500000
75%        -85.000000
max      39659.000000
Name: Belopp, dtype: float64

In [169]:
fin.iloc[:, [2,3]].astype(int).describe()

2            Belopp         Saldo
count    230.000000    230.000000
mean      -7.813043  27667.756522
std     5234.440901  10736.691770
min   -10697.000000   8157.000000
25%     -498.750000  20309.500000
50%     -205.500000  25449.500000
75%      -85.000000  36081.250000
max    39659.000000  58299.000000

In [5]:
fin = fin.reset_index()
fin

2,index,Bokf. datum,Beskrivning,Belopp,Saldo
0,3,2020-05-04,"2020-04-30 NETONNET AB, VÄXJÖ",-539,25556.7
1,4,2020-05-04,"2020-04-30 NETONNET AB, VÄXJÖ",-200,26095.7
2,5,2020-04-30,"2020-04-29 VAXJO OAS CAFE, VAXJO",-98,26295.7
3,6,2020-04-30,"2020-04-29 PRESSBYRÅN 4025376, VÄXJÖ",-70,26393.7
4,7,2020-04-30,2020-04-29 kontaktlös LIDL 131/VEXJO OSTERLEDE...,-41.7,26463.7
...,...,...,...,...,...
225,228,2020-01-02,"2019-12-30 WILLYS VÄXJÖ I11, VÄXJÖ",-1200.41,25103.3
226,229,2020-01-02,"2019-12-30 SYSTEMBOLAGET VÄXJÖ, VÄXJÖ",-393,26303.7
227,230,2020-01-02,"2019-12-30 WILLYS VÄXJÖ I11, VÄXJÖ",-23.8,26696.7
228,231,2020-01-02,"2019-12-30 JULA AB, VÄXJÖ",-199,26720.5
229,232,2020-01-02,"2019-12-30 BILTEMA SWEDEN VEXJO, VEXJO",-474.6,26919.5

In [7]:
fin = fin.drop(columns = 'index')
fin

2,Bokf. datum,Beskrivning,Belopp,Saldo
0,2020-05-04,"2020-04-30 NETONNET AB, VÄXJÖ",-539,25556.7
1,2020-05-04,"2020-04-30 NETONNET AB, VÄXJÖ",-200,26095.7
2,2020-04-30,"2020-04-29 VAXJO OAS CAFE, VAXJO",-98,26295.7
3,2020-04-30,"2020-04-29 PRESSBYRÅN 4025376, VÄXJÖ",-70,26393.7
4,2020-04-30,2020-04-29 kontaktlös LIDL 131/VEXJO OSTERLEDE...,-41.7,26463.7
...,...,...,...,...
225,2020-01-02,"2019-12-30 WILLYS VÄXJÖ I11, VÄXJÖ",-1200.41,25103.3
226,2020-01-02,"2019-12-30 SYSTEMBOLAGET VÄXJÖ, VÄXJÖ",-393,26303.7
227,2020-01-02,"2019-12-30 WILLYS VÄXJÖ I11, VÄXJÖ",-23.8,26696.7
228,2020-01-02,"2019-12-30 JULA AB, VÄXJÖ",-199,26720.5
229,2020-01-02,"2019-12-30 BILTEMA SWEDEN VEXJO, VEXJO",-474.6,26919.5

In [8]:
fin.columns = ['date', 'desc', 'figure', 'balance']
fin

,date,desc,figure,balance
0,2020-05-04,"2020-04-30 NETONNET AB, VÄXJÖ",-539,25556.7
1,2020-05-04,"2020-04-30 NETONNET AB, VÄXJÖ",-200,26095.7
2,2020-04-30,"2020-04-29 VAXJO OAS CAFE, VAXJO",-98,26295.7
3,2020-04-30,"2020-04-29 PRESSBYRÅN 4025376, VÄXJÖ",-70,26393.7
4,2020-04-30,2020-04-29 kontaktlös LIDL 131/VEXJO OSTERLEDE...,-41.7,26463.7
...,...,...,...,...
225,2020-01-02,"2019-12-30 WILLYS VÄXJÖ I11, VÄXJÖ",-1200.41,25103.3
226,2020-01-02,"2019-12-30 SYSTEMBOLAGET VÄXJÖ, VÄXJÖ",-393,26303.7
227,2020-01-02,"2019-12-30 WILLYS VÄXJÖ I11, VÄXJÖ",-23.8,26696.7
228,2020-01-02,"2019-12-30 JULA AB, VÄXJÖ",-199,26720.5
229,2020-01-02,"2019-12-30 BILTEMA SWEDEN VEXJO, VEXJO",-474.6,26919.5

In [9]:
# fin['date'].str.partition('-')[2].str.partition('-')[0]

# fin['date'].str.slice(start = 5)

# fin['date'].str.split('-', expand = True)[1]

#SPLIT
fin['month'] = fin['date'].str.split('-', expand = True)[1]

# REARRANGE
cols = list(fin.columns)
fin = fin[[cols[0]] + [cols[-1]] + cols[1:]]

fin 

#fin.loc[fin['date'].str.contains('20??-01-*', regex = True)]

,date,month,desc,figure,balance,month
0,2020-05-04,05,"2020-04-30 NETONNET AB, VÄXJÖ",-539,25556.7,05
1,2020-05-04,05,"2020-04-30 NETONNET AB, VÄXJÖ",-200,26095.7,05
2,2020-04-30,04,"2020-04-29 VAXJO OAS CAFE, VAXJO",-98,26295.7,04
3,2020-04-30,04,"2020-04-29 PRESSBYRÅN 4025376, VÄXJÖ",-70,26393.7,04
4,2020-04-30,04,2020-04-29 kontaktlös LIDL 131/VEXJO OSTERLEDE...,-41.7,26463.7,04
...,...,...,...,...,...,...
225,2020-01-02,01,"2019-12-30 WILLYS VÄXJÖ I11, VÄXJÖ",-1200.41,25103.3,01
226,2020-01-02,01,"2019-12-30 SYSTEMBOLAGET VÄXJÖ, VÄXJÖ",-393,26303.7,01
227,2020-01-02,01,"2019-12-30 WILLYS VÄXJÖ I11, VÄXJÖ",-23.8,26696.7,01
228,2020-01-02,01,"2019-12-30 JULA AB, VÄXJÖ",-199,26720.5,01
229,2020-01-02,01,"2019-12-30 BILTEMA SWEDEN VEXJO, VEXJO",-474.6,26919.5,01

In [10]:
fin['desc'] = fin['desc'].str.slice(start = 10)

In [268]:
fin['desc'].str.len().min()

3.0

In [12]:
#Find WILLYS and calculate sum av figures

fin.loc[fin['desc'].str.contains('WILLYS', flags=re.I, regex=True, na = False)].figure.sum()

KeyError: 'desc'

In [13]:
fin

0                                NETONNET AB, VÄXJÖ
1                                NETONNET AB, VÄXJÖ
2                             VAXJO OAS CAFE, VAXJO
3                         PRESSBYRÅN 4025376, VÄXJÖ
4       kontaktlös LIDL 131/VEXJO OSTERLEDEN, VEXJO
                           ...
225                         WILLYS VÄXJÖ I11, VÄXJÖ
226                      SYSTEMBOLAGET VÄXJÖ, VÄXJÖ
227                         WILLYS VÄXJÖ I11, VÄXJÖ
228                                  JULA AB, VÄXJÖ
229                     BILTEMA SWEDEN VEXJO, VEXJO
Name: desc, Length: 230, dtype: object

In [276]:
def findsum(df = fin,col = 'desc', figcol = 'figure', word = ''):
    total = df.loc[df[col].str.contains(word, flags=re.I, regex=True, na = False)][figcol].sum()
    return total

In [277]:
findsum(word = 'WILLYS')

-11342.269999999999

In [278]:
findsum(word = 'LIDL')

-3119.63

In [280]:
findsum(word = 'JULA')

-308.6

In [288]:
words = ['WILLYS', 'LIDL', 'JULA', 'PRESSBYRÅN', 'NETONNET', 'SYSTEMBOLAGET', 'BILTEMA', 'MAX']
n = 0
match = 0
altfin = fin

while n < len(words):
    word = words[n]
    found = fin['desc'].str.contains(word, flags=re.I, regex=True, na = False).sum()
    match += found
    n += 1
    
    
match
found

10

In [330]:
words = ['WILLYS', 'LIDL', 'JULA', 'PRESSBYRÅN', 'NETONNET', 'SYSTEMBOLAGET', 'BILTEMA', 'MAX']
n = 0
match = 0
altfin = fin

while n < len(words):
    key = words[n]
    for i, row in altfin.iterrows():
        if str(row['desc']).find(key) != -1:
            match += 1
            altfin = altfin.drop(index=i)
        else:
            print(row['desc'])
            newkey = input('Input new keyword:')
            words += newkey
    n += 1

altfin
words

2020-04-30 NETONNET AB, VÄXJÖ
Input new keyword:NETONNET
2020-04-30 NETONNET AB, VÄXJÖ
Input new keyword:
2020-04-29 VAXJO OAS CAFE, VAXJO
Input new keyword:CAFE
2020-04-29 PRESSBYRÅN 4025376, VÄXJÖ

KeyboardInterrupt:

In [327]:
key = 'WILLYS'
altfin = fin

for i, row in altfin.iterrows():
        if str(row['desc']).find(key) != -1:
            match += 1
            altfin = altfin.drop(i)
            
altfin

,date,month,desc,figure,balance,month
0,2020-05-04,05,"2020-04-30 NETONNET AB, VÄXJÖ",-539,25556.7,05
1,2020-05-04,05,"2020-04-30 NETONNET AB, VÄXJÖ",-200,26095.7,05
2,2020-04-30,04,"2020-04-29 VAXJO OAS CAFE, VAXJO",-98,26295.7,04
3,2020-04-30,04,"2020-04-29 PRESSBYRÅN 4025376, VÄXJÖ",-70,26393.7,04
4,2020-04-30,04,2020-04-29 kontaktlös LIDL 131/VEXJO OSTERLEDE...,-41.7,26463.7,04
...,...,...,...,...,...,...
223,2020-01-02,01,"2019-12-31 JULA AB, VÄXJÖ",189.1,24998.4,01
224,2020-01-02,01,"2019-12-30 CONDECO STORGATAN VEXJ, VEXJO",-294,24809.3,01
226,2020-01-02,01,"2019-12-30 SYSTEMBOLAGET VÄXJÖ, VÄXJÖ",-393,26303.7,01
228,2020-01-02,01,"2019-12-30 JULA AB, VÄXJÖ",-199,26720.5,01
229,2020-01-02,01,"2019-12-30 BILTEMA SWEDEN VEXJO, VEXJO",-474.6,26919.5,01

In [342]:
for w, key in enumerate(words):
    print(w, key)
    if w >= len(words) - 1:
        newkey = input('Input new keyword:')
        words += newkey

0 WILLYS
1 LIDL
2 JULA
3 PRESSBYRÅN
4 NETONNET
5 SYSTEMBOLAGET
6 BILTEMA
7 MAX
Input new keyword:

In [349]:
# words = ['WILLYS', 'LIDL', 'JULA', 'PRESSBYRÅN', 'NETONNET', 'SYSTEMBOLAGET', 'BILTEMA', 'MAX']
# n = 0
# match = 0
# altfin = fin

# while n < len(words):
#    key = words[n]
#    for i, row in altfin.iterrows():
#        if str(row['desc']).find(key) != -1:
#            match += 1
#            altfin = altfin.drop(index=i)
#        else:
#            print(row['desc'])
#            newkey = input('Input new keyword:')
#            words += newkey
#    n += 1

# altfin
# words

words = ['WILLYS', 'LIDL', 'JULA', 'PRESSBYRÅN', 'NETONNET', 'SYSTEMBOLAGET', 'BILTEMA', 'MAX']
altfin = fin

for i, row in altfin.iterrows():
    
    for w, key in enumerate(words):
        
        if str(row['desc']).find(key) != -1:
            match += 1
            altfin = altfin.drop(index=i)
            break
            
        elif w >= len(words) - 1:
            print(row['desc'])
            newkey = input('Input new keyword:')
            if newkey == 'break':
                break
            else:
                words.append(newkey)
                break
        
print (match)
print (altfin)
print (words)

2020-04-29 VAXJO OAS CAFE, VAXJO
Input new keyword:CAFE
2020-04-29 BURGER KING AVD, VÄXJÖ
Input new keyword:BURGER
Autogiro CA ARABYBOST
Input new keyword:break
Överföring 9159 8807910
Input new keyword:break
2020-04-27 ICA SUPERMARKET DALBO, VAXJO
Input new keyword:break
Swish till PALA SHEWEISH
Input new keyword:break
Autogiro MEDLEY AB
Input new keyword:break
2020-04-26 WEBHALLEN.COM, INTERNET
Input new keyword:break
2020-04-25 BUUKS.SE, BROENDBY
Input new keyword:break
Autogiro PLAN INTERN
Input new keyword:break
LÖN
Input new keyword:break
2020-04-25 Elgiganten.se, Kistad
Input new keyword:break
2020-04-24 ICA SUPERMARKET DALBO, VAXJO
Input new keyword:break
2020-04-24 MEDIA MARKT E-HANDEL, STOCKSUND
Input new keyword:break
Swish till LINN WINBERG
Input new keyword:break
2020-04-14 CYKELGEAR.SE, TERNDRUP
Input new keyword:break
2020-04-20 CYKEL & FRITIDSCENTER, VÄXJÖ
Input new keyword:break
2020-04-20 WIKIPEDIA GIFT, 877-600-9454
Input new keyword:break
2020-04-16 REVOLUT**5513*, REVOLUT.COM
Input new keyword:break
2020-04-16 CDON SE, MALMÖ
Input new keyword:break
2020-04-15 ZALANDO SE, BERLIN
Input new keyword:
1299
          date month                                        desc   figure  \
2   2020-04-30    04            2020-04-29 VAXJO OAS CAFE, VAXJO      -98
5   2020-04-30    04           2020-04-29 BURGER KING AVD, VÄXJÖ      -87
6   2020-04-30    04                       Autogiro CA ARABYBOST    -9012
7   2020-04-30    04                     Överföring 9159 8807910     -500
8   2020-04-28    04     2020-04-27 ICA SUPERMARKET DALBO, VAXJO  -222.87
9   2020-04-28    04                    Swish till PALA SHEWEISH     -190
10  2020-04-28    04                          Autogiro MEDLEY AB      -70
11  2020-04-27    04          2020-04-26 WEBHALLEN.COM, INTERNET    -5761
12  2020-04-27    04               2020-04-25 BUUKS.SE, BROENDBY     -129
14  2020-04-27    04                        Autogiro PLAN INTERN     -250
15  2020-04-27    04                                         LÖN  36021.1
16  2020-04-27    04            2020-04-25 Elgiganten.se, Kistad    -2995
17  2020-04-25    04     2020-04-24 ICA SUPERMARKET DALBO, VAXJO    -73.9
18  2020-04-25    04  2020-04-24 MEDIA MARKT E-HANDEL, STOCKSUND     -777
20  2020-04-24    04                     Swish till LINN WINBERG      -55
21  2020-04-23    04           2020-04-14 CYKELGEAR.SE, TERNDRUP    -1482
22  2020-04-21    04     2020-04-20 CYKEL & FRITIDSCENTER, VÄXJÖ    -1327
24  2020-04-20    04     2020-04-20 WIKIPEDIA GIFT, 877-600-9454     -104
27  2020-04-17    04      2020-04-16 REVOLUT**5513*, REVOLUT.COM    -1000
28  2020-04-17    04                   2020-04-16 CDON SE, MALMÖ    -2425
29  2020-04-16    04               2020-04-15 ZALANDO SE, BERLIN     1242

    balance month
2   26295.7    04
5   26505.4    04
6   26592.4    04
7   35604.4    04
8   36104.4    04
9   36327.3    04
10  36517.3    04
11  36587.3    04
12  42348.3    04
14  45016.3    04
15  45266.3    04
16  9245.16    04
17  12240.2    04
18  12314.1    04
20  13173.9    04
21  13228.9    04
22  14710.9    04
24  16193.9    04
27  17715.3    04
28  18715.3    04
29  21140.3    04
['WILLYS', 'LIDL', 'JULA', 'PRESSBYRÅN', 'NETONNET', 'SYSTEMBOLAGET', 'BILTEMA', 'MAX', 'CAFE', 'BURGER', '']